<li class="list-group-item border-0 d-flex align-items-center ps-0">
    <input class="form-check-input mx-2 me-2" type="checkbox" <%- list.is_complete ? 'checked' : '' %> value="" /> <%- list.item %> 
</li>