<div class="col-5 card-link">
    <div class="card" id="card-1">
        <div class="card-body">
            <a href="#" class="text-dark text-decoration-none">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 py-1">
                        <i class="fas fa-circle text-warning "><i class="fas fa-circle text-warning mx-1"></i></i>
                    </div>
                    <div class="col-6 col-md-8 px-2">
                        <p class="fw-bold mb-0 text-white text-content"><%- newTask.title %></p>
                        <p class="text-secondary text-desc"><%- newTask.description %></p>
                    </div>
                    <div class="col-4 col-md-4 d-flex justify-content-end">
                        <i class="fas fa-angle-right"></i>
                    </div>

                    <div class="col-12 col-md-12 mt-3 d-flex justify-content-center ">
                        <p class="text-white percent mb-0"><i class="fas fa-spinner mx-2"></i> <%- newTask.duration %> day   / <%- newTask.percentage %> % </p>
                    </div>
                </div>

            </a>
        </div>
    </div>

</div>