.landing-page {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}

.logo {
    width: 9rem;
}

.page1 img {
    width: 100%;
}

.page2 .card {
    border: 0;
}

.page2 img {
    width: 4rem;
}

.page2 .benefit {
    padding-top: 8rem;
}

.page3 img {
    width: 75%;
}

.landing-page footer {
    background-color: rgb(25, 36, 49);
    width: 100%;
}

.landing-page footer .instagram {
    width: 1rem;
}

.landing-page hr {
    color: aliceblue;
}