<!DOCTYPE html>
<html lang="en">

<%- include("../partial/head.ejs") %>

    <body class="board-content">
        <%- include("../layout/sidenav.ejs") %>

            <div class="my-container main board-menu">
                <div class="px-3 content-home">
                    <h4 class="fw-bold rounded d-flex justify-content-center align-items-center py-2 mb-0">Board</h4>
                    <div class="row my-4">

                        <!-- create for loop-->                        
                        <% for (board of boards) { %>
                            <%- include('../components/board-card.ejs', {
                                board,
                            }); %>
                        <% } %>
                        
                        <!-- <div class="col-6 col-md-4 mb-4">
                            <div class="card" id="todo-board">
                                <div class="d-flex justify-content-center d-inline-block mb-3">
                                    <div class="card-title fs-5 fw-bold  text-center pt-2">To Do</div>
                                    <a href="#" class="fw-bold d-flex  align-items-center text-secondary text-decoration-none rounded mx-3"><i class="fas fa-info-circle"></i></a>
                                </div>

                                <div class="card-body board-card">
                                    <div class="d-flex flex-column">
                                        <div class="card mb-2 shadow pt-2 px-2 card-item">
                                            <div class="row">
                                                <div class="col-6 col-md-8 px-2">
                                                    <div class="card-title fw-bold px-2">Makan</div>
                                                    <div class="card-body p-0">
                                                        <p class="text-secondary text-desc"><i class="far fa-check-square mx-2"></i>7 Tasks</p>
                                                    </div>
                                                </div>
                                                <div class="col-4 col-md-4 d-flex justify-content-end align-items-center">
                                                    <p class="text-desc text-warning">Priority 1</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-md-4">
                            <div class="card" id="progress-board">
                                <div class="card-title fs-5 fw-bold text-center pt-2">In Progress</div>
                                <div class="card-body board-card">
                                    <div class="d-flex flex-column">
                                        <div class="card mb-2 shadow pt-2 px-2 card-item">
                                            <div class="row">
                                                <div class="col-6 col-md-8 px-2">
                                                    <div class="card-title fw-bold px-2">Makan</div>
                                                    <div class="card-body p-0">
                                                        <p class="text-secondary text-desc"><i class="far fa-check-square mx-2"></i>7 Tasks</p>
                                                    </div>
                                                </div>
                                                <div class="col-4 col-md-4 d-flex justify-content-end align-items-center">
                                                    <p class="text-desc text-info">Priority 1</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mb-2 shadow pt-2 px-2">
                                            <div class="row">
                                                <div class="col-6 col-md-8 px-2">
                                                    <div class="card-title fw-bold px-2">Makan</div>
                                                    <div class="card-body p-0">
                                                        <p class="text-secondary text-desc"><i class="far fa-check-square mx-2"></i>7 Tasks</p>
                                                    </div>
                                                </div>
                                                <div class="col-4 col-md-4 d-flex justify-content-end align-items-center">
                                                    <p class="text-desc text-info">Priority 1</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="card" id="finish-board">
                                <div class="card-title fs-5 fw-bold text-center pt-2">Finished</div>
                                <div class="card-body board-card">
                                    <div class="d-flex flex-column">
                                        <div class="card mb-2 shadow pt-2 px-2 card-item">
                                            <div class="row">
                                                <div class="col-6 col-md-8 px-2">
                                                    <div class="card-title fw-bold px-2">Makan</div>
                                                    <div class="card-body p-0">
                                                        <p class="text-secondary text-desc"><i class="far fa-check-square mx-2"></i>7 Tasks</p>
                                                    </div>
                                                </div>
                                                <div class="col-4 col-md-4 d-flex justify-content-end align-items-center">
                                                    <p class="text-desc text-success">Priority 1</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mb-2 shadow pt-2 px-2">
                                            <div class="row">
                                                <div class="col-6 col-md-8 px-2">
                                                    <div class="card-title fw-bold px-2">Makan</div>
                                                    <div class="card-body p-0">
                                                        <p class="text-secondary text-desc"><i class="far fa-check-square mx-2"></i>7 Tasks</p>
                                                    </div>
                                                </div>
                                                <div class="col-4 col-md-4 d-flex justify-content-end align-items-center">
                                                    <p class="text-desc text-success">Priority 1</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>

                </div>
            </div>

            <%- include("../partial/script.ejs") %>

    </body>

</html>