<!DOCTYPE html>
<html lang="en">

<%- include("../partial/head.ejs") %>

    <body class="register ">
        <%- include("../layout/navbar.ejs") %>
            <div class="container-fluid d-flex justify-content-center align-items-center">
                <div class="card mb-3">
                    <div class="card-body mx-4">
                        <h3 class="card-title text-center fw-bold mt-1 mb-4">Daftar</h3>
                        <form method="post" action="">
                            <div class="row mb-2">
                                <div class="col-12 col-md-6">
                                    <label for="name" class="fw-bold">Nama</label>
                                </div>
                                <div class="col-12 col-md-10">
                                    <input type="text" class="form-control my-1" id="name" placeholder="Masukkan nama anda" name="name">
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-12 col-md-6">
                                    <label for="birth" class="fw-bold">Tanggal Lahir</label>
                                </div>
                                <div class="col-12 col-md-10">
                                    <input type="date" class="form-control my-1" id="birth" name="birth_date">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-12 col-md-6">
                                    <label for="email" class="fw-bold">Email</label>
                                </div>
                                <div class="col-12 col-md-10">
                                    <input type="email" class="form-control my-1" id="email" placeholder="example@axample.com" name="email">
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-12 col-md-6">
                                    <label for="telepon" class="fw-bold">Telepon</label>
                                </div>
                                <div class="col-12 col-md-10">
                                    <input type="text" class="form-control my-1" id="telepon" placeholder="0873458902" name="telepon">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-12 col-md-6">
                                    <label for="alamat" class="fw-bold">Alamat</label>
                                </div>
                                <div class="col-12 col-md-10">
                                    <textarea type="text" class="form-control my-1" rows=3 id="alamat" placeholder="Alamat anda" name="alamat"></textarea>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-12 col-md-6">
                                    <label for="password" class="fw-bold">Password</label>
                                </div>
                                <div class="col-12 col-md-10">
                                    <input type="password" class="form-control my-1" id="password" placeholder="Masukkan password" name="password">
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-12 col-md-6">
                                    <label for="password" class="fw-bold">Konfirmasi Password</label>
                                </div>
                                <div class="col-12 col-md-10">
                                    <input type="password" class="form-control my-1" id="password" placeholder="Masukkan password" name="password">
                                </div>
                            </div>
                            <div class="d-flex justify-content-center align-items-center  regis-button mb-3">
                                <button class="btn btn-success text-white p-2 fw-bold " type="submit">Register</button>
                            </div>

                            <div class="d-flex justify-content-center align-items-center regis-button my-2 ">
                                <p class="text-secondary">atau</p>
                            </div>

                            <div class="google d-flex justify-content-center align-items-center regis-button mb-2 ">
                                <button class="btn btn-secondary text-light p-2 fw-bold" type="submit"> <img src="../img/google.png" alt="google" class="mx-2">Daftar dengan Google</button>
                            </div>

                            <hr>
                            <div class="d-flex justify-content-center align-items-center">
                                <a href="#">
                                    <p class="text-secondary">Sudah punya akun? Login</p>
                                </a>

                            </div>
                        </form>
                    </div>
                </div>
            </div>

    </body>

</html>