<!DOCTYPE html>
<html lang="en">

<%- include("../partial/head.ejs") %>

    <body class="report-content">
        <%- include("../layout/sidenav.ejs") %>


            <div class="my-container main report-page">
                <div class="px-4 content-home">
                    <h4 class="fw-bold rounded">Reporting</h4>
                    <p class="text-secondary mb-0">All your task here</p>
                    <hr>
                    <!-- <div class="d-flex d-inline-block filter">
                        <a href="#" class="text-decoration-none text-white fw-bold text-center rounded">All</a>
                        <a href="#" class="text-decoration-none text-white fw-bold text-center px-2 mx-4 rounded">Completed</a>
                    </div> -->
                    <div class="row mx-auto">
                        <% for (report of reports) { %>
                            <%- include('../components/report-list.ejs', {
                                report
                            }); %>
                        <% } %>



                        <!-- <div class="col-6 col-md-4 card-report">
                            <div class="card my-5">
                                <div class="d-flex justify-content-center task-info mx-5 mb-3">
                                    <a href="#" class="text-white text-center mx-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="far fa-file-alt fs-3 rounded-circle pt-2"></i></a>
                                </div>
                                <div class="card-title text-center fw-bold">Task Title</div>
                                <div class="card-body">
                                    <p class="text-secondary mb-1"><i class="fas fa-thumbtack mx-2"></i>Board</p>
                                    <p class="mb-1"><i class="far fa-bell mx-2"></i>Durasi</p>
                                    <p><i class="far fa-check-circle mx-2"></i> 7 lists checked</p>
                                    <div class="row">
                                        <div class="col-7">
                                            <p class="mb-0 fw-bold">Deadline</p>
                                            <p class="text-secondary">13 Januari 2022</p>
                                        </div>
                                        <div class="col-5">
                                            <p class="mb-0 fw-bold">Presentase</p>
                                            <p class="text-secondary">34%</p>
                                        </div>
                                    </div>
                                    <p class=" fw-bold status"><i class="fas fa-exclamation mx-2"></i>Status</p>
                                </div>
                            </div>
                        </div> -->
                    </div>


                </div>
            </div>

            <%- include("../partial/script.ejs") %>

    </body>

</html>