
<footer class="pt-4 footer-user" id="footer-login"> 
    <div class="container-fluid">
    <hr>
    <div class="d-flex justify-content-start px-2">
        <p class="text-footer text-secondary"> © 2021 KerTask. All rights reserved.</p>
    </div>
</div>
</footer>
