<nav class="navbar navbar-light py-0 fixed-top board-nav" id="nav">
    <div class="side-navbar active-bar d-flex justify-content-start flex-column flex-wrap border-end shadow rounded" id="sidebar">
        <ul class="navbar-nav d-flex flex-column px-4">
            <li class="nav-item w-100">
                <p class="navbar-brand fw-bold px-4 py-4" href="#">KerTask</p>
            </li>
            <li class="nav-item py-4 w-100">
                <a class="nav-link active" aria-current="page" href="/"><i class="fas fa-th-large mx-2"></i>Home</a>
            </li>
            <li class="nav-item w-100">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-stream mx-2"></i> Board
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item mb-1 border-bottom" href="/board">Menu Board</a></li>
                    <li><a class="dropdown-item mb-1" href="#">ToDo Board</a></li>
                    <li><a class="dropdown-item mb-1" href="#">In Progress Board</a></li>
                    <li><a class="dropdown-item mb-1" href="#">Finished Board</a></li>
                </ul>
            </li>
            <!-- <li class="nav-item dropdown py-4  w-100">
                <a class="nav-link" href="#"><i class="fas fa-th-list mx-2"></i>Task</a>
            </li> -->
            <li class="nav-item py-4 w-100">
                <a class="nav-link" href="/report"><i class="fas fa-file-signature mx-2"></i>Report</a>
            </li>
            <li class="nav-item w-100">
                <a class="nav-link" href="/profile"><i class="far fa-id-card mx-2"></i>My Profile</a>
            </li>
            <li class="nav-item py-5 w-100">
                <a href="#" class="nav-link"><i class="fas fa-sign-out-alt mx-2"></i>Logout</a>
            </li>
        </ul>
    </div>

    <div class="d-flex justify-content justify-content-start">
        <a class="btn" id="menu-btn">

            <img src="../img/switch.png" alt="">
        </a>
    </div>
    <a class="btn" id="user-btn">
        <p class="fw-bold px-5 text-secondary"><img src="../img/download.jpg" class="img-fluid rounded-circle photos mx-1" alt="photo"> Hai, Novia!</p>
    </a>
</nav>